.container {
  --width: 1080px;
  width: var(--width);
  height: calc(var(--width) * (1920 / 1080));
}

.nakedContainer {
  --width: 1080px;
  width: var(--width);
  height: calc(var(--width) * (1700 / 1080));
}

.squareContainer {
  --width: 1080px;
  width: var(--width);
  height: calc(var(--width));
}

.vertivcal {
  position: absolute;
  top: 0;
  right: 0;
  @apply flex flex-col items-center;
}

.line {
  height: calc(var(--width) / 1080 * 190);
  border-right-width: calc(var(--width) / 1080 * 3);
  @apply border-white;
  margin-bottom: calc(var(--width) / 1080 * 14);
}

.squareLine {
  height: calc(var(--width) / 1080 * 90);
  border-right-width: calc(var(--width) / 1080 * 3);
  @apply border-white;
  margin-bottom: calc(var(--width) / 1080 * 14);
}

.squareTicketNumber {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: calc(var(--width) / 46);
  height: calc(var(--width) / 3);
  @apply font-medium text-white;
}

.simpleTicketNumber {
  text-orientation: mixed;
  font-size: calc(var(--width) / 37);
  @apply font-medium text-white;
}

.ticketNumber {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: calc(var(--width) / 37);
  height: calc(var(--width) / 3);
  @apply font-medium text-white;
}

.subContainer {
  @apply flex flex-col justify-between h-full;
  padding: calc(var(--width) / 18);
}

.squareSubContainer {
  @apply flex flex-col justify-between h-full;
  padding: calc(var(--width) / 26) calc(var(--width) / 18);
}

.card {
  border-radius: calc(var(--width) / 1080 * 50);
  width: calc(76 / 100 * (var(--width)));
  height: calc(76 / 100 * (var(--width) * (1920 / 1080)));
  border-width: 1px;
  backdrop-filter: blur(24px);
  background: linear-gradient(320deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}

.squareCard {
  border-radius: calc(var(--width) / 1080 * 50);
  width: calc(76 / 100 * (var(--width)));
  height: calc(76 / 100 * (var(--width)));
  border-width: 1px;
  backdrop-filter: blur(24px);
  background: linear-gradient(320deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}

.mainHeader {
  line-height: 100%;
  font-size: calc(var(--width) / 23);
  @apply font-bold text-white;
}

.subHeader {
  line-height: 100%;
  font-size: calc(var(--width) / 31);
  @apply font-bold text-white;
  margin-bottom: calc(var(--width) / 55);
}

.simpleSubHeader {
  line-height: 100%;
  font-size: calc(var(--width) / 18);
  @apply font-bold text-white;
  margin-bottom: calc(var(--width) / 55);
}

.simpleMTSubHeader {
  line-height: 100%;
  margin-top: calc(var(--width) / 14);
  font-size: calc(var(--width) / 16);
  @apply font-bold text-white;
  margin-bottom: calc(var(--width) / 55);
}

.simpleSquareMTSubHeader {
  line-height: 100%;
  margin-top: calc(var(--width) / 24);
  font-size: calc(var(--width) / 20);
  @apply font-bold text-white;
  margin-bottom: calc(var(--width) / 55);
}

.dateTag {
  background: white;
  border-radius: calc(var(--width) / 100);
  font-size: calc(var(--width) / 50);
  padding: calc(var(--width) / 140) calc(var(--width) / 50);
  @apply font-bold text-purple-300;
}

.simpleDateTag {
  background: white;
  border-radius: calc(var(--width) / 100);
  font-size: calc(var(--width) / 50);
  padding: calc(var(--width) / 140) calc(var(--width) / 32);
  @apply font-bold text-purple-300;
}

.squareDateTag {
  background: white;
  border-radius: calc(var(--width) / 100);
  font-size: calc(var(--width) / 50);
  padding: calc(var(--width) / 140) calc(var(--width) / 50);
  @apply font-bold text-purple-300;
}

.contentContainer {
}

.contentTo {
  font-size: calc(var(--width) / 26);
  margin-bottom: calc(var(--width) / 30);
  @apply font-bold text-white;
}

.contentName {
  font-size: calc(var(--width) / 18);
  margin-bottom: calc(var(--width) / 30);
  @apply font-bold text-white;
}

.simpleBigContentName {
  font-size: calc(var(--width) / 16);
  @apply font-bold leading-5 text-center text-white;
}

.simpleContentName {
  font-size: calc(var(--width) / 22);
  margin-bottom: calc(var(--width) / 30);
  @apply font-bold text-center text-white;
}

.simpleSquareBigContentName {
  font-size: calc(var(--width) / 20);
  @apply font-bold leading-5 text-center text-white;
}

.simpleSquareContentName {
  font-size: calc(var(--width) / 26);
  margin-bottom: calc(var(--width) / 60);
  @apply font-bold text-center text-white;
}

.squareContentName {
  font-size: calc(var(--width) / 24);
  @apply font-bold text-white;
}

.squareTo {
  font-size: calc(var(--width) / 34);
  @apply font-semibold text-white;
}

.contentDescription {
  font-size: calc(var(--width) / 32);
  @apply font-semibold text-white;
}

.squareContentDescription {
  margin-top: calc(var(--width) / 100);
  font-size: calc(var(--width) / 36);
  @apply font-semibold text-white;
}

.qrCodeWrapper {
  @apply flex flex-col;
}

.qrCode {
  width: calc((var(--width) / 1080) * 128);
}

.qrText {
  margin-top: calc(var(--width) / 120);
  font-size: calc((var(--width) / 1080) * 20);
  @apply font-semibold text-center text-white;
}

.footer {
  @apply flex flex-row justify-between;
}

.contact {
  @apply flex flex-col justify-end;
}
.contactText {
  font-size: calc((var(--width) / 1080) * 25);
  @apply flex flex-row justify-end font-semibold text-white;
}

.contactText img {
  margin-left: calc((var(--width) / 1080) * 20);
  width: calc((var(--width) / 1080) * 36);
}
