/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* purgecss start ignore */
@tailwind utilities;
/* purgecss end ignore */

@layer utilities {
  @variants responsive {
    .max-w-xxs {
      max-width: 18rem;
    }
    .text-shadow {
      text-shadow: 0px 4.87px 9.74px rgba(0, 0, 0, 0.2);
    }
    .h-table {
      height: 48rem;
    }
    .text-xxs {
      font-size: 0.65rem;
    }
    .text-smoxs {
      font-size: 0.775rem;
    }
    .frame-height-mobile {
      height: calc(45vw);
    }
    .frame-height-desktop {
      height: calc(30vw);
    }
    .stage-height-desktop {
      height: calc(50vw);
    }
    .w-18 {
      width: 4.5rem;
    }
    .h-18 {
      height: 4.5rem;
    }
    .rounded-10xl {
      border-radius: 50px;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scroll-hidden::-webkit-scrollbar {
      display: none;
    }

    .h-505 {
      height: 505px;
    }

    .z-extra {
      z-index: 999;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scroll-hidden {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .overflow-custom {
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
}
