.root {
  z-index: -1;
  min-height: 378px;
  clip-path: url(#headerCurveMobile);
}

@media (min-width: 420px) {
  .root {
    z-index: -1;
    min-height: 640px;
    clip-path: url(#headerCurve);
  }
}

.gradient {
  @apply w-full bg-gradient-to-br from-blue-200 via-purple-200 to-red-200;
}
