.circle1Root {
  @apply rounded-full;
}

.circle1Gradient {
  width: 273px;
  height: 273px;
  left: -135px;
  background: linear-gradient(
    180deg,
    rgba(255, 220, 220, 0.6) 0%,
    rgba(221, 214, 254, 0) 100%
  );
}
.circle2Gradient {
  width: 206px;
  height: 273px;
  z-index: 1;
}
.circle3Gradient {
  width: 273px;
  height: 273px;
  left: -135px;
  background: linear-gradient(
    180deg,
    rgba(221, 214, 254, 0.3) 15.75%,
    rgba(255, 234, 238, 0.156) 100%
  );
}
.svg {
  width: 190px;
  height: 111px;
}

.svg2 {
  width: 240px;
  height: 148px;
}

.svg3 {
  width: 209px;
  height: 171px;
}

@media (min-width: 420px) {
  .circle1Gradient {
    width: 873px;
    height: 873px;
    left: -235px;
    background: linear-gradient(
      180deg,
      rgba(247, 205, 214, 0.3) 15.75%,
      rgba(255, 234, 238, 0.156) 100%
    );
  }

  .circle2Gradient {
    width: 659px;
    height: 873px;
    z-index: 1;
  }

  .circle3Gradient {
    width: 873px;
    height: 873px;
    left: -235px;
    background: linear-gradient(
      180deg,
      rgba(221, 214, 254, 0.3) 15.75%,
      rgba(255, 234, 238, 0.156) 100%
    );
  }

  .svg {
    width: 609px;
    height: 351px;
  }

  .svg2 {
    width: 762px;
    height: 475px;
  }

  .svg3 {
    width: 672px;
    height: 541px;
  }
}
