.circle1Root {
  @apply rounded-full;
}

.circle1Gradient {
  width: 273px;
  height: 273px;
  left: -135px;
  background: linear-gradient(
    180deg,
    rgba(255, 220, 220, 0.6) 0%,
    rgba(221, 214, 254, 0) 100%
  );
}
.circle2Gradient {
  width: 273px;
  height: 273px;
  right: -135px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(255, 236, 160, 0.3) 28.06%,
    rgba(247, 240, 246, 0.177) 100%
  );
}
.svg {
  width: 190px;
  height: 111px;
}

.svg2 {
  width: 240px;
  height: 148px;
}

@media (min-width: 420px) {
  .circle1Gradient {
    width: 873px;
    height: 873px;
    left: -235px;
    background: linear-gradient(
      180deg,
      rgba(247, 205, 214, 0.3) 15.75%,
      rgba(255, 234, 238, 0.156) 100%
    );
  }

  .circle2Gradient {
    width: 873px;
    height: 873px;
    right: -235px;
    clip: rect(0px, 638px, 873px, 0px);
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(255, 236, 160, 0.3) 28.06%,
      rgba(247, 240, 246, 0.177) 100%
    );
  }

  .svg {
    width: 609px;
    height: 351px;
  }

  .svg2 {
    width: 762px;
    height: 475px;
  }
}
